@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  background: #D8D8D8;
  color: #791e9e;
}

.article-title, .article-body {
  padding-left: 20px;
}

.article-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.article-body {
  font-size: 15px;
}

#new-article-btn {
  margin-bottom: 10px;
}

#article-date {
  margin-bottom: 40px;
}

.article-detail-title {
  font-size: 25px;
  margin-bottom: 40px;
}
